In [ ]:
%%capture
!pip install neuralforecast
!pip install hyperopt

In [1]:
%load_ext autoreload
%autoreload 2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams["figure.figsize"] = (9,6)
from neuralforecast.core import NeuralForecast
from neuralforecast.models import NHITS, NBEATS, TimesNet
from neuralforecast.losses.numpy import mae, mse
from neuralforecast.auto import AutoTimesNet
from neuralforecast.models import DeepAR

import logging
logging.getLogger("pytorch_lightning").setLevel(logging.WARNING)
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Time-Series-Library-main/dataset/samsung19_27.csv')
df.rename(columns={'Datetime': 'ds'}, inplace=True)
df.rename(columns={'Close': 'y'}, inplace=True)
df['ds'] = pd.to_datetime(df['ds'])
df['unique_id'] = 'OT'

In [5]:
train_df = df.iloc[:-60,:]
futr_df = df.iloc[-60:,:]

In [7]:
futr_df

,ds,Open,High,Low,y,Adj Close,Volume,unique_id
2450,2024-03-27 14:00:00+09:00,79700.0,79700.0,79600.0,79600.0,79600.0,19945,OT
2451,2024-03-27 14:01:00+09:00,79600.0,79700.0,79600.0,79600.0,79600.0,10156,OT
2452,2024-03-27 14:02:00+09:00,79700.0,79700.0,79600.0,79700.0,79700.0,8308,OT
2453,2024-03-27 14:03:00+09:00,79700.0,79700.0,79600.0,79700.0,79700.0,14987,OT
2454,2024-03-27 14:04:00+09:00,79700.0,79700.0,79600.0,79600.0,79600.0,10376,OT
2455,2024-03-27 14:05:00+09:00,79600.0,79700.0,79600.0,79600.0,79600.0,18549,OT
2456,2024-03-27 14:06:00+09:00,79600.0,79700.0,79600.0,79600.0,79600.0,27398,OT
2457,2024-03-27 14:07:00+09:00,79700.0,79700.0,79500.0,79500.0,79500.0,337250,OT
2458,2024-03-27 14:08:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,25292,OT
2459,2024-03-27 14:09:00+09:00,79600.0,79600.0,79500.0,79500.0,79500.0,11398,OT
2460,2024-03-27 14:10:00+09:00,79600.0,79600.0,79500.0,79500.0,79500.0,8116,OT
2461,2024-03-27 14:11:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,17528,OT
2462,2024-03-27 14:12:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,16125,OT
2463,2024-03-27 14:13:00+09:00,79500.0,79600.0,79500.0,79600.0,79600.0,11627,OT
2464,2024-03-27 14:14:00+09:00,79600.0,79600.0,79500.0,79500.0,79500.0,11180,OT
2465,2024-03-27 14:15:00+09:00,79500.0,79600.0,79500.0,79500.0,79500.0,16844,OT
2466,2024-03-27 14:16:00+09:00,79600.0,79600.0,79500.0,79500.0,79500.0,18710,OT
2467,2024-03-27 14:17:00+09:00,79600.0,79600.0,79500.0,79500.0,79500.0,19458,OT
2468,2024-03-27 14:18:00+09:00,79600.0,79600.0,79500.0,79500.0,79500.0,77103,OT
2469,2024-03-27 14:19:00+09:00,79600.0,79600.0,79400.0,79500.0,79500.0,504052,OT
2470,2024-03-27 14:20:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,15174,OT
2471,2024-03-27 14:21:00+09:00,79600.0,79600.0,79500.0,79500.0,79500.0,8672,OT
2472,2024-03-27 14:22:00+09:00,79600.0,79600.0,79500.0,79500.0,79500.0,10740,OT
2473,2024-03-27 14:23:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,8828,OT
2474,2024-03-27 14:24:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,22007,OT
2475,2024-03-27 14:25:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,15690,OT
2476,2024-03-27 14:26:00+09:00,79500.0,79600.0,79500.0,79600.0,79600.0,9434,OT
2477,2024-03-27 14:27:00+09:00,79600.0,79600.0,79500.0,79500.0,79500.0,36840,OT
2478,2024-03-27 14:28:00+09:00,79500.0,79600.0,79500.0,79500.0,79500.0,24739,OT
2479,2024-03-27 14:29:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,45334,OT
2480,2024-03-27 14:30:00+09:00,79500.0,79600.0,79500.0,79600.0,79600.0,27733,OT
2481,2024-03-27 14:31:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,49214,OT
2482,2024-03-27 14:32:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,86417,OT
2483,2024-03-27 14:33:00+09:00,79500.0,79600.0,79500.0,79500.0,79500.0,40007,OT
2484,2024-03-27 14:34:00+09:00,79500.0,79600.0,79400.0,79500.0,79500.0,147322,OT
2485,2024-03-27 14:35:00+09:00,79500.0,79600.0,79400.0,79500.0,79500.0,170081,OT
2486,2024-03-27 14:36:00+09:00,79500.0,79600.0,79400.0,79500.0,79500.0,130980,OT
2487,2024-03-27 14:37:00+09:00,79500.0,79600.0,79400.0,79600.0,79600.0,177421,OT
2488,2024-03-27 14:38:00+09:00,79600.0,79600.0,79400.0,79500.0,79500.0,86009,OT
2489,2024-03-27 14:39:00+09:00,79500.0,79600.0,79400.0,79600.0,79600.0,79694,OT
2490,2024-03-27 14:40:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,14844,OT
2491,2024-03-27 14:41:00+09:00,79500.0,79600.0,79400.0,79500.0,79500.0,84104,OT
2492,2024-03-27 14:42:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,14836,OT
2493,2024-03-27 14:43:00+09:00,79500.0,79600.0,79500.0,79600.0,79600.0,12190,OT
2494,2024-03-27 14:44:00+09:00,79600.0,79600.0,79500.0,79600.0,79600.0,13448,OT
2495,2024-03-27 14:45:00+09:00,79500.0,79600.0,79500.0,79500.0,79500.0,9607,OT
2496,2024-03-27 14:46:00+09:00,79500.0,79600.0,79500.0,79600.0,79600.0,15853,OT
2497,2024-03-27 14:47:00+09:00,79500.0,79600.0,79500.0,79500.0,79500.0,18401,OT
2498,2024-03-27 14:48:00+09:00,79500.0,79600.0,79500.0,79500.0,79500.0,34355,OT
2499,2024-03-27 14:49:00+09:00,79500.0,79600.0,79500.0,79500.0,79500.0,15769,OT
2500,2024-03-27 14:50:00+09:00,79600.0,79600.0,79500.0,79500.0,79500.0,18517,OT
2501,2024-03-27 14:51:00+09:00,79500.0,79600.0,79400.0,79400.0,79400.0,239822,OT
2502,2024-03-27 14:52:00+09:00,79400.0,79600.0,79400.0,79500.0,79500.0,70093,OT
2503,2024-03-27 14:53:00+09:00,79600.0,79600.0,79400.0,79500.0,79500.0,66663,OT
2504,2024-03-27 14:54:00+09:00,79500.0,79600.0,79500.0,79500.0,79500.0,16454,OT
2505,2024-03-27 14:55:00+09:00,79500.0,79600.0,79500.0,79500.0,79500.0,12431,OT
2506,2024-03-27 14:56:00+09:00,79500.0,79600.0,79500.0,79500.0,79500.0,13296,OT
2507,2024-03-27 14:57:00+09:00,79500.0,79600.0,79500.0,79500.0,79500.0,13913,OT
2508,2024-03-27 14:58:00+09:00,79500.0,79600.0,79500.0,79600.0,79600.0,16577,OT
2509,2024-03-27 14:59:00+09:00,79600.0,79600.0,79500.0,79500.0,79500.0,30216,OT

In [ ]:
# optimiztion 필요
horizon = 60 # 60 minuts forecast
model = TimesNet(h = horizon,                                                 # Horizon
                 input_size = 3*horizon,                                      # Length of input window
                 max_steps = 20,                                             # Training iterations
                 top_k = 3,                                                   # Number of periods (for FFT).
                 num_kernels = 3,                                             # Number of kernels for Inception module
                 batch_size = 2,                                              # Number of time series per batch
                 windows_batch_size = 32,                                     # Number of windows per batch
                 learning_rate = 0.001,                                       # Learning rate
                 futr_exog_list = ['Open', 'High','Volume'], # Future exogenous variables
                 scaler_type = None)                                          # We use the Core scaling method

In [ ]:
nf = NeuralForecast(models=[model], freq='T', local_scaler_type='robust')
nf.fit(df=train_df)

In [ ]:
Y_hat_df = nf.predict(futr_df=futr_df)
Y_hat_df.head()

In [ ]:
import matplotlib.pyplot as plt

plot_df = train_df[train_df['unique_id']=='OT'].tail(60*3).reset_index(drop=True)
Y_hat_df = Y_hat_df.reset_index(drop=False)
Y_hat_df = Y_hat_df[Y_hat_df['unique_id']=='OT']

plot_df = pd.concat([plot_df, Y_hat_df ]).set_index('ds') # Concatenate the train and forecast dataframes

plot_df[['y', 'TimesNet']].plot(linewidth=2)
plt.axvline('2024-03-27', color='red')
plt.ylabel('Price Samsung Stock', fontsize=12)
plt.xlabel('Date', fontsize=12)
plt.grid()

In [ ]:
data = {'TimesNet': [mae(Y_hat_df['TimesNet'], Y_hat_df['y']), mse(Y_hat_df['TimesNet'], Y_hat_df['y'])]}

metrics_df = pd.DataFrame(data=data)
metrics_df.index = ['mae', 'mse']

metrics_df.style.highlight_min(color='lightgreen', axis=1)

In [ ]:
.